<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="test_frag">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Transaction Type</th>
                <th>Account</th>
                <th>Amount</th>
                <th>Transaction Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction: ${transactions}">
                <td th:text="${transaction.transactionType}"/>
                <td th:text="${transaction.fromAccount.accountName}"/>
                <td th:text="${transaction.amount}"/></td>
                <td th:text="${#temporals.format(transaction.transactionDate, 'dd/MM/yyyy')}"/></td>
                <td><a onclick="return confirm('Are you sure you want to delete?');" th:href="'/transactions/delete/'+${transaction.transactionId}" type="button">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>